/Collabim.CustomSearch/Collabim.CustomSearch.Web/bin
/Collabim.CustomSearch/Collabim.CustomSearch.Web/obj
/Collabim.CustomSearch/Collabim.CustomSearch.Business/bin
/Collabim.CustomSearch/Collabim.CustomSearch.Business/obj
/Collabim.CustomSearch/.vs
/Collabim.CustomSearch/Collabim.CustomSearch.Web/Collabim.CustomSearch.Web.csproj.user
